fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

python-dotenv

python-jose[cryptography]
passlib[bcrypt]

pydantic
pydantic-settings

python-multipart
email-validator

pypdf
python-docx

spacy
sentence-transformers