.dashboard-navbar{

height:80px;

padding:0 50px;

display:flex;

justify-content:space-between;

align-items:center;

background:white;

border-bottom:1px solid #e5e7eb;

position:sticky;

top:0;

z-index:999;

}

.dashboard-logo{

display:flex;
align-items:center;

}

.dashboard-logo img{

height: 120px;
width:auto;
display:block;

}

.dashboard-links{

display:flex;

gap:35px;

}

.dashboard-links a{

text-decoration:none;

font-weight:600;

color:#475569;

transition:.3s;

}

.dashboard-links a:hover{

color:#2563eb;

}

.dashboard-right{

display:flex;

align-items:center;

gap:20px;

}

.notification-btn{

width:45px;

height:45px;

border:none;

border-radius:50%;

background:#f1f5f9;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

}

.user-chip{

display:flex;

align-items:center;

gap:12px;

padding:8px 14px;

background:#f8fafc;

border-radius:16px;

}

.avatar{

width:42px;

height:42px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(
135deg,
#2563eb,
#7c3aed
);

color:white;

font-weight:700;

}

.user-chip h4{

font-size:.95rem;

}

.user-chip p{

font-size:.8rem;

color:#64748b;

}

.logout-btn{

display:flex;

align-items:center;

gap:8px;

padding:12px 18px;

border:none;

border-radius:12px;

background:#ef4444;

color:white;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.logout-btn:hover{

background:#dc2626;

}
.dashboard-links{

display:flex;
gap:38px;

}

.dashboard-links a{

text-decoration:none;
color:#64748b;
font-weight:600;
padding-bottom:8px;
transition:.3s;

}

.dashboard-links a:hover{

color:#2563eb;

}

.active-link{

color:#2563eb !important;
border-bottom:3px solid #2563eb;

}